body {
  margin: 0px auto;
  padding: 0px;
  background-color: rgb(33, 33, 33);
  color: rgb(193, 193, 193);
}

header {
    height: 55px;
    padding: 20px;
    background-color:rgb(46, 46, 46);
    font-size: 35px;
    font-family: 'Anton', sans-serif;
}

.appBody {
    width: 80vw;
    max-width: 400px;
}

.addToDoDiv {
  text-align: center;
  margin-top: 30px;
}

.todoInput {
  width: 300px;
  height: 37px;
  border: none;
  margin: 10px 0px;
}

.addToDoBtn {
  width: 100px;
  height: 40px;
  background-color: rgb(166, 181, 145);
  margin: 10px 0px 10px 10px;
}

.clearToDoBtn {
  height: 35px;
  background-color: rgb(157, 157, 157);
  width: 60vw;
  max-width: 300px;
}

button {
  border: none;
}
button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.todoList {
  padding: 30px;
  border: 1px solid rgb(67, 67, 67);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.todoItem {
  /* height: 20px; */
  width: 60vw;
  max-width: 300px;
  background-color: rgb(46, 46, 46);
  padding: 10px;
  margin-bottom: 10px;
  margin: 1px auto;
}

.todosLeft {
  padding: 30px 0px 20px;
  color: rgb(166, 181, 145);
}
